/* .custom-toast {
    background: red; /* Custom background color (e.g., blue) */
    /* color: #ffffff; Custom text color (e.g., white) */
  /* } */
  
  /* .custom-toast .Toastify__progress-bar {
    background: white; /* Custom progress bar color (e.g., green) */
  /* } */ 
/* Success toast icon color */
/* .custom-toast-success .Toastify__toast-icon svg {
    fill: white; /* Custom success icon color (e.g., green) */
  /* } */
  
   