.custom-toast-success {
  background-color: #22c55e;
  /* green-500 */
  color: #ffffff;
}

.custom-toast-error {
  background-color: #ef4444;
  color: #ffffff;
}

.custom-progress {
  background-color: #ffffff;
}

.toastBody {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

.custom-icon {
  color: #ffffff;
}